body {
  font: 16px/1.4 ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
  background-color: $background;
  font-family: 'Open Sans', sans-serif;
  color: black;
}